<div class="container">

  <br><br>

  <% @service.home_timeline.each do |tweet| %>
<div class="card" style="broder-solid">
  <div class="row" style="margin-left:6px; margin-top:6px; margin-right:6px">
    <p>
      <img src="<%= tweet.user.profile_image_url %>">
    <%= tweet.user.screen_name %>
    <%= tweet.text %>
  </div>
</div>
    </p>
  <% end %>
  <div class="row">
    <div class="col s3">
      <% form_for @tweet do |f| %>
        <%= f.label :tweet %>
        <%= f.text_field :tweet %>
        <%= f.submit "New Tweet" %>
      <% end %>
    </div>
  </div>

</div>
