<div class="row">
  <div class="col s3">
    <div class="card">
      <img src="http://pbs.twimg.com/profile_images/646725390044557312/QakSSAhz_normal.jpg">
        <span class="card-title"><%= @service.user.name %></span>
      <div class="card-content">
        <p><%= @service.user.screen_name %></p>
      <div class="card-action">
        <div class="col s4">
          <p>tweets: <%= @service.tweets.count %></p>
        </div>
        <div class="col s4">
          <p><%= @service.client.followers.count %></p>
        </div>
        <div class="col s4">
          <p><%= @service.client.friends.count %></p>
        </div>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
    <%= form_for(@tweet, url: tweets_path) do |f| %>
      <%= f.label :tweet %>
      <%= f.text_field :tweet %>
      <%= f.submit "New Tweet" %>
    <% end %>
  </div>
  </div>
  <div class="col s9">
    <div class="card">
      <% @service.user_timeline.each do |tweet| %>
        <div class="card" style="border-solid">
          <div class="row" style="margin-left:6px; margin-top:6px; margin-right:6px">
            <p>
            <div class="avatar col s1"><img src="<%= tweet.user.profile_image_url %>"></div>
            <div class="col s10">
              <%= tweet.user.screen_name %>
              <%= tweet.text %>
              <% if tweet.favorited? %>
                <3
              <%  else %>
                <%= link_to "Favorite", favorite_tweet_path(tweet.id), method: :post %>
              <% end %>
            </div>

          </div>
        </div>
        </p>
      <% end %>
    </div>
  </div>
</div>
