<!DOCTYPE html>
<html>
<head>
  <title>Witter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img src="http://danbubanygolf.com/wp-content/uploads/2015/09/Twitter-icon.png", height= "60px", width="60px"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li> <%= link_to "Home", users_path %></a></li>
          <li><% if @service %>
        <%= link_to "Logout", logout_path %>
        <% else %>
        <%= link_to "Login", login_path %>
        <% end %></li>
    </ul>
    </div>
  </nav>


<%= yield %>

</body>
</html>
